footer[data-v-37eda166] {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  height: 0;
  position: sticky;
  will-change: scroll-position;
  z-index: 20;
}
footer > div[data-v-37eda166] {
  -webkit-backdrop-filter: blur(1.2rem);
  backdrop-filter: blur(1.2rem);
  background-color: rgba(var(--c-black-rgb), 0.9);
  border-top: 1px solid rgba(var(--c-grey-dark-rgb), 0.4);
  color: var(--c-grey);
  flex-grow: 1;
}
footer > div[data-v-37eda166],
footer > div .-w[data-v-37eda166] {
  padding-bottom: var(--g-gap);
}
footer > div .-w[data-v-37eda166] {
  align-items: center;
  padding-top: var(--m);
}
footer > div .-w .back[data-v-37eda166] {
  --left: 1;
  --width: 2;
  justify-self: start;
}
footer > div .-w[data-v-37eda166] .download {
  --left: 3;
  --width: 2;
}
footer > div .-w .support[data-v-37eda166] {
  --left: 5;
  --width: 2;
  align-items: center;
  display: flex;
  justify-self: end;
  text-align: right;
}
footer > div .-w .support .button:has(svg) svg[data-v-37eda166] {
  fill: var(--c-grey);
  margin: 0.1rem;
  scale: 1;
  transform: translateZ(0);
  transition: scale 0.3s var(--f-cubic);
  width: var(--h6);
}
footer > div .-w .support .button:has(svg) svg[data-v-37eda166] {
  width: var(--p);
}
footer > div .-w .support .button:has(svg):hover svg[data-v-37eda166] {
  scale: 1.2;
}
footer > div .-w .support span[data-v-37eda166] {
  color: var(--c-berry);
  margin-left: var(--g-gap);
}
footer > div .-w .sub[data-v-37eda166] {
  align-self: start;
  color: var(--c-grey-dark);
  margin-top: var(--p);
}
footer > div .-w .-su-1[data-v-37eda166] {
  --top: 2;
  --left: 1;
  --width: 3;
  padding-right: 0;
}
footer > div .-w .-su-2[data-v-37eda166] {
  --top: 2;
  --left: 4;
  --width: 3;
  padding-right: 0;
}
footer > div .-w .-su-3[data-v-37eda166] {
  --top: 3;
  --left: 1;
  --width: 3;
}
footer > div .-w .-su-4[data-v-37eda166] {
  --top: 3;
  --left: 4;
  --width: 3;
}
@media (min-width: 1024px) {
  footer > div[data-v-37eda166] {
    border-radius: var(--h5) var(--h5) 0 0;
  }
  footer > div .-w[data-v-37eda166] .download {
    --left: 5;
    --width: 6;
  }
  footer > div .-w .support[data-v-37eda166] {
    --left: 11;
    --width: 4;
  }
  footer > div .-w .-b-w:hover .button:has(svg) svg[data-v-37eda166] {
    scale: 1.2;
  }
  footer > div .-w .-b-w:hover span[data-v-37eda166] {
    color: var(--c-white);
  }
  footer > div .-w .sub[data-v-37eda166] {
    align-self: end;
  }
  footer > div .-w .-su-1[data-v-37eda166] {
    --top: 2;
    --left: 1;
    --width: 2;
    padding-right: 0;
  }
  footer > div .-w .-su-2[data-v-37eda166] {
    --top: 2;
    --left: 5;
    --width: 2;
    padding-right: 0;
  }
  footer > div .-w .-su-3[data-v-37eda166] {
    --top: 2;
    --left: 9;
    --width: 2;
  }
  footer > div .-w .-su-4[data-v-37eda166] {
    --top: 2;
    --left: 13;
    --width: 2;
    justify-self: end;
    text-align: right;
  }
}
.page[data-v-cbaffdc4] {
  --easing-function: cubic-bezier(0.86, 0, 0.31, 1);
  --easing-function-2: cubic-bezier(0.35, 0.35, 0, 1);
  --easing-timing: 1.5s;
  background-color: var(--c-black);
  background-image: none;
  contain: paint;
  display: flex;
  flex-direction: column;
}
.page > footer[data-v-cbaffdc4] {
  margin-top: auto;
}

/* Remove copyright symbol on top of HIMANSHU everywhere */
.logo:after,
.logo[data-v-8a0a1e1e]:after,
.logo[data-v-bfa0fbdc]:after,
.the-name:after,
.the-name[data-v-79f9894c]:after,
header .-w .logo:after,
header .-w .logo[data-v-8a0a1e1e]:after,
.pop-info .-w .logo:after,
.pop-info .-w .logo[data-v-bfa0fbdc]:after,
footer .-w .the-name:after,
footer .-w .the-name[data-v-79f9894c]:after {
  content: none !important;
  display: none !important;
}
